<footer>
  <div>
    <div class="ft-brand">SIGNAL RESOLUTION</div>
    <div class="ft-tag">signalresolution.com</div>
  </div>
  <ul class="ft-links">
    <li><a href="/#pain">The Problem</a></li>
    <li><a href="/#what-it-measures">What It Measures</a></li>
    <li><a href="/#method">Method</a></li>
    <li><a href="/diagnostic.html">Diagnostic</a></li>
    <li><a href="/#about">About</a></li>
    <li><a href="/blog/">Writing</a></li>
    <li><a href="/blog/">Writing</a></li>
  </ul>
  <div class="ft-copy">© 2026 Signal Resolution.<br>All rights reserved.</div>
</footer>
