---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all %}
  {%- if page.data.sitemap != false and not page.data.eleventyExcludeFromCollections %}
  <url>
    <loc>https://signalresolution.com{{ page.url }}</loc>
    <lastmod>{{ page.date | dateToISO }}</lastmod>
  </url>
  {%- endif %}
  {%- endfor %}
  {#- Passthrough-only pages (see .eleventy.js ignores.add) are copied as static
      files and never processed as templates, so they never enter collections.all.
      Keep this list in sync by hand whenever a passthrough page is added/removed. #}
  <url>
    <loc>https://signalresolution.com/about</loc>
  </url>
  <url>
    <loc>https://signalresolution.com/privacy</loc>
  </url>
  <url>
    <loc>https://signalresolution.com/terms</loc>
  </url>
  <url>
    <loc>https://signalresolution.com/refund</loc>
  </url>
  <url>
    <loc>https://signalresolution.com/diagnostic.html</loc>
  </url>
</urlset>
